spring:
  application:
    name: Renewable-Energy-Forecasting

  datasource:
    url: jdbc:mysql://localhost:3306/fs_db?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081
